body {
  text-align: center;
}

.jumbotron {
  background: #f6f2e7a6;
}

h1 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

h2 {
  position: relative;
  left: 250px;
  top: -60px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

h3 {
	font-family: "Dancing Script";
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.name {
  font-family: "Book Antiqua", Garamond, "Times New Roman", serif;
  font-size: 12px;
  font-kerning: 30px;
}
