body {
  text-align: center;
}

.jumbotron {
  background: #f6f2e7a6;
  margin-top: 30px;
}

h1 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

h2 {
  position: relative;
  left: 250px;
  top: -60px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

h3 {
	font-family: "Dancing Script";
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.name {
  font-family: "Book Antiqua", Garamond, "Times New Roman", serif;
  font-size: 12px;
  font-kerning: 30px;
}

.firstbox {
  background-color: mediumaquamarine;
  opacity: 0.5;
  height: 200px;
  width: 300px;
  position: relative;
  left: 500px;
}

.secondbox {
  background-color: mediumslateblue;
  opacity: 0.5;
  height: 100px;
  width: 400px;
  position: relative;
  bottom: 50px;
  left: 200px;
}

.button {
  position: relative;
  top: -300px;
}


.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}