.btn-group {
  gap: 12px;
  display: flex;
}

.title.main-title {
  font-size: 100px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 30em;
  background: #f9e2e7;
  border-radius: 50%;
  margin: 32px auto;
}

.smallbutton {
  margin: auto;
  position: relative;
  top: -38em;
  max-width: 400%;
}

.btn-lg,
.btn-sm {
  border: none;
  font-size: 16px;
  color: black;
  padding: 8px 28px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
}

.btn-lg:hover,
.btn-sm:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn-sm {
  font-size: 12px;
  margin-top: 16px;
}
